{% extends 'base.html' %}

{% block head %}
<script src="{{config.STATIC_URL}}tool.js" charset="utf-8"></script>
{% endblock %}

{% block body %}
<div class="container">
    <form id="configuration">
        <input type="text" name="username" value="{{user}}" placeholder="Aktron" required>
        <input type="text" name="property" value="{{property}}" placeholder="P18, P37, etc." required>
        <input type="number" name="limit" value="{{limit}}" value="10" required>
        <button type="submit" class="btn wafes-effect wafes-light" type="button" id="load">Load values</button>
    </form>
    <div id="values">

    </div>
</div>
{% endblock %}